body {
	background-color: #eeeeee;
	font-size: 15px
}

.esquerda {
	text-align: left;
}
.centrovalorcliente {
	align: center;
	width: 250px;
	height: 106px;
}
.centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

.customDialog {
    position: absolute;
    width: 600px;
    height: 400px;
    margin-top: -20%;
}

.valorclientedevedor {
	align: center;
	width: 300px;
	height: 106px;
	border: 3px rgb(89, 89, 89) solid;
	color: rgb(255, 6, 6);
	font-size: 48px;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-align: center;
	line-height: 2.15em;
}

.valorclientesobra {
	align: center;
	width: 300px;
	height: 106px;
	border: 3px rgb(89, 89, 89) solid;
	color: rgb(0, 255, 20);
	font-size: 48px;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-align: center;
	line-height: 2.15em;
}

.sem-borda {
	border: 0px;
}