body {
	background-color: #eeeeee;
	font-size: 15px
}

.esquerda {
	text-align: left;
}
.centrovalorcliente {
	align: center;
	width: 250px;
	height: 106px;
}
.centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

.customDialog {
    position: absolute;
    width: 600px;
    height: 400px;
    margin-top: -20%;
}

.valorclientedevedor {
	align: center;
	width: 300px;
	height: 106px;
	border: 3px rgb(89, 89, 89) solid;
	color: rgb(255, 6, 6);
	font-size: 48px;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-align: center;
	line-height: 2.15em;
}

.valorclientesobra {
	align: center;
	width: 300px;
	height: 106px;
	border: 3px rgb(89, 89, 89) solid;
	color: rgb(0, 255, 20);
	font-size: 48px;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-align: center;
	line-height: 2.15em;
}

.sem-borda {
	border: 0px;
}

/*Style For Ribbon And TabView --------------------------------------------------------------------------------------*/
.ui-tabs .ui-tabs-panel {
  padding: 10px !important;
}
.ui-tabs-top {
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0px !important;
}
.ui-tabs-top .ui-tabs-nav {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  background-color: #4270d0;
  border-bottom: solid 2px #4270d0;
}
.ui-tabs-top .ui-tabs-navscroller {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-nav {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn {
  height: 58px;
  padding: 0px 4px;
  background-color: #4270d0;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn:hover {
  background-color: #2a5bc5;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn-left {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 2px;
  left: 0px;
  border-right: solid 1px #2a5bc5;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn-left .ui-icon {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/left-arrow-white.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 19px;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn-right {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 2px;
  right: 0px;
  border-left: solid 1px #2a5bc5;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn-right .ui-icon {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/right-arrow-white.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 19px;
}
.ui-tabs-top .ui-tabs-navscroller .ui-state-disabled {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ui-tabs-top .ui-tabs-navscroller .ui-state-disabled .ui-icon {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.ui-tabs-top .ui-tabs-nav li {
  border: solid 1px transparent !important;
  top: 1px !important;
  font-size: 14px;
  margin: 0 .2em 1px 0 !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ui-tabs-top .ui-tabs-nav li .ui-icon-close {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/delete-soft-blue.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 8px !important;
}
.ui-tabs-top .ui-tabs-nav li.ui-state-hover .ui-icon-close,
.ui-tabs-top .ui-tabs-nav li.ui-state-active .ui-icon-close {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 8px !important;
}
.ui-tabs-top .ui-tabs-nav li a {
  color: #bbdefb !important;
  font-size: 17px;
  padding: 14px 1em !important;
  border-radius: 0px !important;
  font-family: 'roboto_condensedlight';
}
.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-top .ui-tabs-nav li.ui-tabs-active,
.ui-tabs-top .ui-tabs-nav li.ui-state-hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
  border-radius: 0px;
  border-bottom: solid 5px #fff !important;
}
.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-top .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-top .ui-tabs-nav li.ui-state-hover a {
  color: #ffffff !important;
}
.ui-tabs-top .ui-tabs-panels {
  background-color: transparent;
  margin: -1px 0px 3px 0px;
  border: solid 1px #fbfcfd;
  background-image: none !important;
}
.ui-tabs-panels {
  font-size: 15px;
}
.ui-tabs-top .ui-tabs-panels .ui-ribbon-groups {
  background-color: transparent;
  background: none;
  filter: none !important;
}
.ui-tabs-top .ui-tabs-panels .ui-tabs-panel {
  background-image: none !important;
  color: #546e7a;
}
.ui-tabs-top .ui-ribbon-group {
  border-right: solid 1px #C8D9E2;
  background-image: none !important;
  background-color: transparent !important;
  filter: none !important;
}
.ui-ribbon .ui-ribbon-group .ui-ribbon-group-content {
  display: table;
  height: auto !important;
  margin-bottom: 10px;
}
.ui-ribbon .ui-ribbon-group .ui-ribbon-group-label {
  color: #546E7A !important;
}
.ui-ribbon .ui-button {
  width: auto !important;
  height: auto !important;
  font-size: 12px;
  border: solid 1px transparent;
}
.ui-ribbon .ui-selectmanybutton {
  padding: 0px;
}
.ui-ribbon .ui-inputfield {
  background-color: #F5F5F5 !important;
}
.ui-ribbon .ui-selectonemenu {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.ui-ribbon .ui-button .ui-button-text {
  font-size: 14px !important;
}
.ui-ribbon .ui-selectonemenu-label {
  font-size: 14px !important;
}
.ui-ribbon .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
  margin-top: 12px !important;
}
.ui-ribbon-bigbutton .ui-icon,
.ui-ribbon-group .ui-icon {
  height: 16px !important;
  width: 16px !important;
  margin: -6px 0px 0px 0px !important;
  left: 15% !important;
  font-size: 13px !important;
  color: #fff;
}
.ui-colorpicker .ui-c span {
  border: solid 1px #fff !important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.ui-ribbon .ui-ribbon-group-content .ui-button {
  background-color: #0288d1;
  color: #FFFFFF;
}
.ui-ribbon .ui-ribbon-group-content .ui-button.ui-state-hover {
  background-color: #29A1EC;
}
.ui-ribbon .ui-ribbon-group-content .ui-button.ui-state-active {
  background-color: #29A1EC;
}
/* left */
.ui-tabs-left {
  border: solid 1px #c6d6df;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0px !important;
}
.ui-tabs-left .ui-tabs-nav {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #4270d0;
  border-right: solid 2px #4270d0;
}
.ui-tabs-left .ui-tabs-nav li {
  border: solid 1px transparent !important;
  top: 1px !important;
  font-size: 14px;
  margin-right: -1px !important;
}
.ui-tabs-left .ui-tabs-nav li a {
  color: #bbdefb !important;
  width: auto !important;
  font-size: 17px;
  padding: 14px 10px !important;
  font-family: 'roboto_condensedlight';
}
.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-left .ui-tabs-nav li.ui-tabs-active,
.ui-tabs-left .ui-tabs-nav li.ui-state-hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
  border-radius: 0px;
  border-right: solid 5px #fff !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-left .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-left .ui-tabs-nav li.ui-state-hover a {
  color: #ffffff !important;
  padding: 14px 14px !important;
}
.ui-tabs-left .ui-tabs-nav li .ui-icon-close {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/delete-soft-blue.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 7px !important;
  float: right !important;
}
.ui-tabs-left .ui-tabs-nav li.ui-state-hover .ui-icon-close,
.ui-tabs-left .ui-tabs-nav li.ui-state-active .ui-icon-close {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 7px !important;
  float: right !important;
}
/* right */
.ui-tabs-right {
  border: solid 1px #c6d6df;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0px !important;
}
.ui-tabs-right .ui-tabs-nav {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #4270d0;
  border-left: solid 1px #4270d0;
}
.ui-tabs-right .ui-tabs-nav li {
  border: solid 1px transparent !important;
  top: 1px !important;
  font-size: 14px;
  margin-right: -1px !important;
}
.ui-tabs-right .ui-tabs-nav li a {
  color: #bbdefb !important;
  width: auto !important;
  font-size: 17px;
  padding: 14px 18px !important;
  font-family: 'roboto_condensedlight';
}
.ui-tabs-right .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-right .ui-tabs-nav li.ui-tabs-active,
.ui-tabs-right .ui-tabs-nav li.ui-state-hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
  border-radius: 0px;
  border-left: solid 5px #fff !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ui-tabs-right .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-right .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-right .ui-tabs-nav li.ui-state-hover a {
  color: #ffffff !important;
  padding: 14px 14px !important;
}
.ui-tabs-right .ui-tabs-nav li .ui-icon-close {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/delete-soft-blue.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  float: right !important;
}
.ui-tabs-right .ui-tabs-nav li.ui-state-hover .ui-icon-close,
.ui-tabs-right .ui-tabs-nav li.ui-state-active .ui-icon-close {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  float: right !important;
}
/* bottom */
.ui-tabs-bottom {
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0px !important;
}
.ui-tabs-bottom .ui-tabs-nav {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-weight: normal;
  background-color: #4270d0;
  font-family: 'roboto_condensedlight';
  border-top: solid 1px #4270d0;
}
.ui-tabs-bottom .ui-tabs-navscroller {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-nav {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  padding-bottom: 1px;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn {
  height: 57px;
  padding: 0px 4px;
  background-color: #4270d0;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn:hover {
  background-color: #2a5bc5;
}
@media screen and (min-width: 0\0) {
  .ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn {
    height: 57px;
  }
  .ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-nav {
    line-height: 1.3 !important;
  }
  .ui-tabs-top .ui-tabs-navscroller .ui-tabs-nav {
    line-height: 1.3 !important;
  }
}
@-moz-document url-prefix() {
  /* Firefox specific styles go here */
  .ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn {
    height: 57px;
  }
  .ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn {
    height: 59px;
  }
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn-left {
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 2px;
  left: 0px;
  border-right: solid 1px #2a5bc5;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn-left .ui-icon {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/left-arrow-white.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 22px;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn-right {
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  right: 0px;
  border-left: solid 1px #2a5bc5;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn-right .ui-icon {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/right-arrow-white.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 22px;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-state-disabled {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-state-disabled .ui-icon {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.ui-tabs-bottom .ui-tabs-nav li {
  border: solid 1px transparent !important;
  font-size: 14px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ui-tabs-bottom .ui-tabs-nav li .ui-icon-close {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/delete-soft-blue.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px !important;
}
.ui-tabs-bottom .ui-tabs-nav li.ui-state-hover .ui-icon-close,
.ui-tabs-bottom .ui-tabs-nav li.ui-state-active .ui-icon-close {
  background-image: url("http://www.primefaces.org/rio/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px !important;
}
.ui-tabs-bottom .ui-tabs-nav li a {
  color: #bbdefb !important;
  font-size: 17px;
  padding: 18px 1em 14px !important;
}
.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-active,
.ui-tabs-bottom .ui-tabs-nav li.ui-state-hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
  border-radius: 0px;
  border-top: solid 5px #fff !important;
}
.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-bottom .ui-tabs-nav li.ui-state-hover a {
  color: #ffffff !important;
  padding: 14px 1em 14px !important;
}
.ui-tabs-bottom .ui-tabs-panels .ui-tabs-panel {
  background-image: none !important;
  color: #546e7a;
}
.ui-tabs-scrollable {
  /* max-width:630px; */
}
.ui-tabs .ui-tabs-nav {
  font-weight: normal !important;
}

/*Style For UI Menu ------------------------------------------------------------------------------------- */
.ui-menu {
  background-color: #ffffff;
  color: #546e7a;
  border-radius: 2px;
  padding: 0px !important;
  font-family: 'roboto_condensedregular';
  -webkit-box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.3);
  -moz-box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.3);
  box-shadow: 0px 1px 2px 0px rgba(43, 59, 93, 0.3);
}
@media screen and (min-width: 0\0) {
  .ui-menu {
    box-shadow: 0px 0px 8px 0px rgba(43, 59, 93, 0.4) !important;
  }
}
.ui-menu .ui-menu-list .ui-widget-header {
  font-size: 16px;
  color: #ffffff;
  background-color: #0288d1;
  width: 84% !important;
  border-radius: 1px;
  font-family: 'roboto_condensedregular';
  padding: 7px 8%;
}
.ui-menu.ui-menu-toggleable li.ui-widget-header {
  font-size: 16px;
  color: #ffffff;
  background-color: #0288d1;
  width: 84% !important;
  border-radius: 1px;
  font-family: 'roboto_condensedregular';
  padding: 7px 8%;
}
.ui-menu.ui-menu-toggleable li.ui-widget-header:hover {
  color: #ffffff;
  background-color: #039be5;
}
.ui-menu.ui-menu-toggleable li.ui-widget-header h3 {
  padding-left: 8% !important;
}
.ui-menu .ui-menu-list .ui-widget-header .ui-icon-triangle-1-s {
  background-image: url("/rio/javax.faces.resource/images/downarrow-white.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ui-menu .ui-menu-list .ui-widget-header .ui-icon-triangle-1-e {
  background-image: url("/rio/javax.faces.resource/images/right-arrow-white.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ui-menu .ui-menu-list .ui-menuitem {
  font-size: 14px;
  display: table;
  border-radius: 0px;
}
.ui-megamenu-vertical .ui-menu-list .ui-menuitem {
  font-size: 14px;
  width: 100%;
  display: table;
}
.ui-menu .ui-menu-list .ui-menuitem .ui-state-hover,
.ui-menu .ui-menu-list .ui-state-hover {
  background-color: #f5f5f5;
  color: #03a9f4;
}
.ui-menu .ui-state-hover .ui-menuitem-link {
  color: #03a9f4 !important;
}
.ui-menu .ui-menuitem .ui-menuitem-link {
  color: #546e7a;
  font-family: 'roboto_condensedregular';
  font-size: 16px;
  padding: 14px 0px;
  width: 100%;
  border-radius: 0px;
  display: inline-block;
  border: 0px none !important;
}
.ui-menubar .ui-menuitem .ui-menuitem-link {
  width: auto;
}
.ui-menubar .ui-menu-child .ui-menuitem-link {
  width: 100% !important;
}
.ui-menubar.ui-megamenu .ui-menuitem .ui-menuitem-link {
  width: 100%;
}
.ui-menu .ui-menuitem .ui-menuitem-link .ui-icon {
  margin: 0px 14px 0px 0px;
}
.ui-menu .ui-menuitem .ui-menuitem-link .ui-menuitem-icon {
  margin: 0px 0px 0px 14px;
}
.ui-menu .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
  margin: 0px 10px;
}
.ui-menu .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-e {
  background-image: url("/rio/javax.faces.resource/images/rightarrow-navy.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ui-menu .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-s {
  background-image: url("/rio/javax.faces.resource/images/downarrow-navy.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ui-menu .ui-menuitem-text {
  padding: 0px;
}
.ui-menu .ui-menuitem .ui-menu-list {
  background-color: #ffffff;
}
.ui-slidemenu .ui-menuitem .ui-menu-child {
  box-shadow: none !important;
}
.ui-menu .ui-menu-parent .ui-menu-child {
  padding: 0px !important;
  border-radius: 2px;
}
.ui-menu .ui-slidemenu-wrapper .ui-slidemenu-backward {
  width: 90%;
  background-color: #f5f5f5;
  color: #778d9b;
  padding: 10px 5%;
  font-size: 16px;
  border-radius: 0px;
}
.ui-menu .ui-slidemenu-wrapper .ui-slidemenu-backward:hover {
  color: #03a9f4;
}
.ui-menu .ui-slidemenu-wrapper .ui-slidemenu-backward .ui-icon-triangle-1-w {
  background-image: url("/rio/javax.faces.resource/images/leftarrow-gray.svg.xhtml?ln=primefaces-rio");
  margin: 2px 5px 0px 0px;
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 85%;
}
.ui-panelmenu {
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  color: #546e7a;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0px;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-header {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 1px !important;
  background-color: #0288d1;
  font-family: 'roboto_condensedregular';
}
.ui-panelmenu .ui-panelmenu-panel h3.ui-state-hover {
  background-color: #039be5;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-header .ui-icon-triangle-1-e {
  background-image: url("/rio/javax.faces.resource/images/right-arrow-white.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 105%;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-header .ui-icon-triangle-1-s {
  background-image: url("/rio/javax.faces.resource/images/downarrow-white.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-header a {
  padding: 12px 5px 13px 30px;
  font-size: 16px;
}
.ui-panelmenu .ui-menuitem {
  border-radius: 0px;
}
.ui-panelmenu .ui-panelmenu-content {
  padding: 0px !important;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-content .ui-menuitem:hover {
  background-color: #f5f5f5;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-content .ui-menuitem .ui-state-hover {
  color: #03A9F4;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-content .ui-menuitem a {
  color: #546e7a;
  font-size: 16px;
  font-family: 'roboto_condensedregular';
  padding: 14px 5% 14px 10%;
  overflow: hidden;
  width: auto !important;
  float: none !important;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-content .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-e {
  background-image: url("/rio/javax.faces.resource/images/rightarrow-navy.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 90%;
}
.ui-panelmenu .ui-panelmenu-panel .ui-panelmenu-content .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-s {
  background-image: url("/rio/javax.faces.resource/images/downarrow-navy.svg.xhtml?ln=primefaces-rio");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 90%;
}
.ui-tabmenu {
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  color: #546e7a;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 5px 5px 0px 5px;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem {
  border: solid 1px transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a {
  font-size: 16px;
  color: #546e7a;
  padding: 12px 15px !important;
  font-family: 'roboto_condensedregular';
  font-weight: normal;
  line-height: 1;
}
.ui-tabmenu .ui-tabmenu-nav .ui-state-hover,
.ui-tabmenu .ui-tabmenu-nav .ui-state-active {
  border-bottom: solid 5px #0288d1 !important;
  color: #0288d1;
}
.ui-tabmenu .ui-tabmenu-nav .ui-state-hover a,
.ui-tabmenu .ui-tabmenu-nav .ui-state-active a {
  color: #0288d1;
}
.ui-tabmenu .ui-tabmenu-nav .ui-state-active a .ui-icon {
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 90%;
  top: 1px;
}
.ui-menu.ui-megamenu .ui-menu-child > table {
  border-collapse: collapse;
}
/*Style For UI Messages ------------------------------------------------------------------------------------- */
.ui-messages-error,
.ui-message-error {
  color: #f03369 !important;
  background-color: #ffffff !important;
  border-color: #f4bacb !important;
  font-size: 18px;
  font-weight: normal;
  padding: 10px !important;
  font-family: 'roboto_condensedlight';
}
.ui-messages-info,
.ui-message-info {
  color: #03a9f4 !important;
  background-color: #ffffff !important;
  border-color: #03a9f4 !important;
  font-size: 18px;
  font-weight: normal;
  padding: 10px !important;
  font-family: 'roboto_condensedlight';
}
.ui-messages-info .ui-icon-close,
.ui-messages-warn .ui-icon-close,
.ui-messages-error .ui-icon-close,
.ui-messages-fatal .ui-icon-close {
  background-image: url("/rio/javax.faces.resource/images/delete-gray.svg.xhtml?ln=primefaces-rio") !important;
  background-size: 110%;
  background-position: center;
}
.ui-messages-warn,
.ui-message-warn {
  color: #f9bf08 !important;
  background-color: #ffffff !important;
  border-color: #f7e3a4 !important;
  font-size: 18px;
  font-weight: normal;
  padding: 10px !important;
  font-family: 'roboto_condensedlight';
}
.ui-messages-fatal,
.ui-message-fatal {
  color: #f55151 !important;
  background-color: #ffffff !important;
  border-color: #f5b1b1 !important;
  font-size: 18px;
  font-weight: normal;
  padding: 10px !important;
  font-family: 'roboto_condensedlight';
}
.ui-messages-info-icon,
.ui-messages-warn-icon,
.ui-messages-error-icon,
.ui-message-error-icon,
.ui-messages-fatal-icon {
  margin: 2px !important;
  background-repeat: no-repeat !important;
  background: none;
  background-position: center  !important;
  background-size: 70%  !important;
}
.ui-message-icon-only .ui-messages-warn-icon,
.ui-message-icon-only .ui-messages-error-icon,
.ui-message-icon-only .ui-message-error-icon,
.ui-message-icon-only .ui-messages-fatal-icon {
  margin: 0px !important;
  background-repeat: no-repeat !important;
  background: none;
  background-position: center  !important;
  background-size: 100%  !important;
}
.ui-message-error-icon {
  background-image: url("/rio/javax.faces.resource/images/warn-pink.svg.xhtml?ln=primefaces-rio") !important;
  background-position: top !important;
  background-size: 120% !important;
}
.ui-messages-error-icon {
  background-image: url("/rio/javax.faces.resource/images/warn-pink.svg.xhtml?ln=primefaces-rio") !important;
  background-position: top !important;
  background-size: 90% !important;
  width: 40px !important;
  height: 40px !important;
}
.ui-messages-info-icon {
  background-image: url("/rio/javax.faces.resource/images/warn-blue.svg.xhtml?ln=primefaces-rio") !important;
  background-position: top !important;
  background-size: 90% !important;
  width: 40px !important;
  height: 40px !important;
}
.ui-messages-warn-icon {
  background-image: url("/rio/javax.faces.resource/images/warn-hardal.svg.xhtml?ln=primefaces-rio") !important;
  background-position: top !important;
  background-size: 90% !important;
  width: 40px !important;
  height: 40px !important;
}
.ui-messages-fatal-icon {
  background-image: url("/rio/javax.faces.resource/images/warn-red.svg.xhtml?ln=primefaces-rio") !important;
  background-position: top !important;
  background-size: 90% !important;
  width: 40px !important;
  height: 40px !important;
}
.ui-messages ul {
  margin-left: 45px !important;
  margin-top: 9px !important;
}
/*Style For UI Panel ------------------------------------------------------------------------------------- */
.ui-panel {
  border: 1px solid #e0e0e0;
  padding: 2px !important;
  background-color: #ffffff;
  border-radius: 2px;
}
.ui-panel .ui-panel-titlebar {
  padding: 15px 20px !important;
  font-size: 18px;
  color: #ffffff;
  z-index: 100;
  font-family: 'roboto_condensedlight';
  font-weight: normal;
  border-radius: 1px !important;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  background-color: #5c6bc0;
  margin: -2px;
}
.ui-datagrid .ui-panel .ui-panel-titlebar {
  padding: 6px 10px 6px 10px !important;
  font-size: 16px;
  color: #546E7A;
  z-index: 100;
  font-family: 'roboto_condensedregular';
  border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  background-color: #ffffff;
  border-bottom: dashed 1px #E0E0E0;
}
.ui-panel .ui-panel-titlebar .ui-panel-title {
  margin: 0px !important;
}
.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon,
.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:hover,
.ui-panel .ui-panel-titlebar .ui-panel-titlebar-icon:focus {
  margin-top: 0px;
}
.ui-panel .ui-panel-titlebar .ui-icon-closethick {
  background-image: url("/rio/javax.faces.resource/images/delete-white.svg.xhtml?ln=primefaces-rio") !important;
  background-position: center !important;
  background-size: 110% !important;
}
.ui-panel .ui-panel-titlebar .ui-icon-minusthick {
  background-image: url("/rio/javax.faces.resource/images/minus-sign-white.svg.xhtml?ln=primefaces-rio") !important;
  background-position: center !important;
  background-size: 110% !important;
}
.ui-panel .ui-panel-titlebar .ui-icon-plusthick {
  background-image: url("/rio/javax.faces.resource/images/plus-sign-white.svg.xhtml?ln=primefaces-rio") !important;
  background-position: center !important;
  background-size: 110% !important;
}
.ui-panel .ui-panel-titlebar .ui-icon-gear {
  background-image: url("/rio/javax.faces.resource/images/gear.svg.xhtml?ln=primefaces-rio") !important;
  background-position: center !important;
  background-size: 140% !important;
}
.ui-panel .ui-panel-content {
  padding: 5px !important;
  font-size: 14px;
  color: #546e7a;
  font-family: 'roboto_condensedregular';
}
.ui-panel .ui-panel-footer {
  background-color: #F5F5F5;
  margin: 0px -2px -2px -2px !important;
  font-size: 14px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  color: #7A8F98;
  padding: 10px 15px !important;
}

.ui-tabs{position:relative;padding:.2em;zoom:1;} /* position:relative prevents IE scroll bug (element with position:relative inside container with overflow:auto appear as "fixed") */.ui-tabs .ui-tabs-nav{margin:0;}.ui-tabs .ui-tabs-nav li{list-style:none;float:left;position:relative;margin:0 .2em 1px 0;padding:0;white-space:nowrap;}.ui-tabs .ui-tabs-nav li a{float:left;padding:.5em 1em;text-decoration:none;}.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text;}.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor:text overall if defined elsewhere... */.ui-tabs .ui-tabs-panel{border-width:0;padding:1em 1.4em;background:none;}.ui-tabs .ui-tabs-nav li{display:block;}.ui-tabs .ui-tabs-nav li .ui-icon{float:left;margin:0.4em 0.2em 0 0;cursor:pointer;}/* per orientation settings *//* top and bottom */.ui-tabs.ui-tabs-top > .ui-tabs-nav li{border-bottom:0;top:1px;}.ui-tabs.ui-tabs-top > .ui-tabs-nav{padding:.2em .2em 0;}.ui-tabs.ui-tabs-bottom > .ui-tabs-nav{padding:0 .2em .2em;}.ui-tabs.ui-tabs-bottom > .ui-tabs-nav li{border-top:0;}/* left and right*/.ui-tabs-left:after,.ui-tabs-right:after{clear:both;content:".";display:block;height:0;visibility:hidden;}.ui-tabs-left > .ui-tabs-nav{float:left;width:23%;height:300px;background-image:none;padding-top:1px;}.ui-tabs-left > .ui-tabs-panels{float:right;width:75%;}.ui-tabs.ui-tabs-left > .ui-tabs-nav li,.ui-tabs.ui-tabs-right > .ui-tabs-nav li{display:block;white-space:normal;width:98%;}.ui-tabs.ui-tabs-left > .ui-tabs-nav li a,.ui-tabs.ui-tabs-right > .ui-tabs-nav li a{width:90%;}.ui-tabs.ui-tabs-left > .ui-tabs-nav li{float:right;}.ui-tabs.ui-tabs-right > .ui-tabs-nav li{float:left;}.ui-tabs.ui-tabs-left > .ui-tabs-nav li{margin:0 0 1px 0.2em;border-right:0 none;}.ui-tabs.ui-tabs-right > .ui-tabs-nav{float:right;width:23%;height:300px;background-image:none;padding-top:1px;}.ui-tabs.ui-tabs-right > .ui-tabs-panels{float:left;width:75%;}.ui-tabs.ui-tabs-right > .ui-tabs-nav li{margin:0 0.2em 1px 0;border-left:0 none;}/** RTL **/.ui-tabs-rtl{direction:rtl;}.ui-tabs-rtl .ui-tabs-nav li, .ui-tabs-rtl .ui-tabs-nav li a{float:right;}/** Scroll **/.ui-tabs-scrollable .ui-tabs-nav{width:5000px;}.ui-tabs .ui-tabs-navscroller{overflow:hidden;}.ui-tabs-scrollable .ui-tabs-nav li{margin:0 .2em -1px 0;}.ui-tabs .ui-tabs-navscroller-btn{position:absolute;height:28px;z-index:100;cursor:pointer;display:none;}.ui-tabs .ui-tabs-navscroller-btn-left{left:0.2em;}.ui-tabs .ui-tabs-navscroller-btn-right{right:0.2em;}.ui-tabs .ui-tabs-navscroller-btn-left .ui-icon,.ui-tabs .ui-tabs-navscroller-btn-right .ui-icon{margin-top:5px;}.ui-tabs-outline{outline:dotted thin;z-index:1;}