body {
	background-color: #eeeeee;
	font-size: 15px
}

.esquerda {
	text-align: left;
}
.centrovalorcliente {
	align: center;
	width: 250px;
	height: 106px;
}
.centerpoint {
    top: 50%;
    left: 50%;
    position: absolute;
}

.customDialog {
    position: absolute;
    width: 600px;
    height: 400px;
    margin-top: -20%;
}

.valorclientedevedor {
	align: center;
	width: 300px;
	height: 106px;
	border: 3px rgb(89, 89, 89) solid;
	color: rgb(255, 6, 6);
	font-size: 48px;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-align: center;
	line-height: 2.15em;
}

.valorclientesobra {
	align: center;
	width: 300px;
	height: 106px;
	border: 3px rgb(89, 89, 89) solid;
	color: rgb(0, 255, 20);
	font-size: 48px;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	text-align: center;
	line-height: 2.15em;
}

.sem-borda {
	border: 0px;
}

/*Style For DataTable ------------------------------------------------------------------------------------- */
.ui-datatable {
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #ffffff;
  color: #546e7a;
  font-family: 'robotoregular';
}
.ui-datatable .ui-datatable-sticky {
  border: 0px;
  padding: 0px;
}
.ui-datatable .ui-datatable-sticky.ui-sticky {
  top: 63px !important;
}
@media (max-width: 640px) {
  .ui-datatable .ui-datatable-sticky.ui-sticky {
    top: 49px !important;
  }
}
.ui-datatable .ui-datatable-sticky:hover {
  border: 0px !important;
}
/*.ui-datatable-scrollable{border:0px; background-color:transparent;}
.ui-datatable-scrollable:hover{border:0px !important; background-color:transparent;}*/
.ui-datatable .ui-icon-arrowthick-1-s {
  background-image: url("/modena/javax.faces.resource/images/right-one-arrow-for-data.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 110%;
  background-repeat: no-repeat;
}
.ui-datatable .ui-icon-arrowthick-1-s {
  background-image: url("/modena/javax.faces.resource/images/right-one-arrow-for-data.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 110%;
  background-repeat: no-repeat;
}
.ui-datatable .ui-datatable-odd {
  background-color: #eef2f7;
}
.ui-datatable .ui-datatable-even {
  background-color: #ffffff;
}
.ui-datatable .ui-datagrid-header,
.ui-datatable .ui-datatable-header,
.ui-datatable .ui-datatable-subtable-header,
.ui-datatable .ui-datatable-summaryrow {
  color: #ffffff;
  background-color: #0288d1;
  border-radius: 1px !important;
  -webkit-border-radius: 1px !important;
  -moz-border-radius: 1px !important;
  font-size: 20px;
  padding: 15px 10px !important;
  font-weight: normal;
  font-family: 'robotolight';
}
.ui-datatable .ui-datatable-summaryrow td {
  color: #a5d6f0;
}
.ui-datatable .ui-datatable-header .ui-button {
  margin-top: -3px !important;
  border: solid 1px #ffffff;
}
.ui-datatable .ui-datatable-scrollable-header,
.ui-datatable .ui-datatable-scrollable-footer {
  color: #778d9b;
  background-color: #d9e3e8;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ui-datatable .ui-datatable-scrollable-header {
  border-radius: 1px 1px 0px 0px;
  -moz-border-radius: 1px 1px 0px 0px;
  -webkit-border-radius: 1px 1px 0px 0px;
  border: 0px solid #000000;
}
.ui-datatable .ui-datatable-scrollable-footer {
  border-radius: 0px 0px 1px 1px;
  -moz-border-radius: 0px 0px 1px 1px;
  -webkit-border-radius: 0px 0px 1px 1px;
  border: 0px solid #000000;
}
.ui-datatable-frozenlayout-left .ui-datatable-scrollable-header,
.ui-datatable-frozenlayout-left .ui-datatable-scrollable-footer {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.ui-datatable-frozenlayout-right .ui-datatable-scrollable-header,
.ui-datatable-frozenlayout-right .ui-datatable-scrollable-footer {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.ui-datatable table tbody td {
  font-family: 'robotoregular';
  padding: 10px 10px !important;
}
.ui-datatable-fs .ui-datatable-frozenlayout-right,
.ui-datatable-fs .ui-datatable-frozenlayout-left {
  font-family: 'robotoregular';
  padding: 0px !important;
}
.ui-datatable-fs .ui-datatable-frozenlayout-right .ui-datatable-scrollable-container .ui-datatable-scrollable-header .ui-datatable-scrollable-header-box table thead tr th,
.ui-datatable-fs .ui-datatable-frozenlayout-right .ui-datatable-scrollable-container .ui-datatable-scrollable-footer .ui-datatable-scrollable-footer-box table tfoot tr td {
  border-left-color: #C1D5DF !important;
}
.ui-datatable table {
  border-collapse: collapse;
  font-size: 14px;
}
.ui-datatable table thead tr th,
.ui-datatable table tfoot tr td,
.ui-datatable table thead tr th {
  color: #546e7a;
  background-color: #dae8ef;
  border: solid 1px #c1d5df;
  outline: none;
  padding: 10px;
  font-family: 'robotolight';
  font-size: 16px;
}
.ui-datatable table thead tr th.ui-state-hover,
.ui-datatable table thead tr th.ui-state-active,
.ui-datatable .ui-datatable-sticky table thead tr th.ui-state-hover,
.ui-datatable .ui-datatable-sticky table thead tr th.ui-state-active {
  background-color: #c1d5df !important;
}
.ui-datatable table thead tr .ui-chkbox-box.ui-state-hover,
.ui-datatable table thead tr .ui-chkbox-box.ui-state-active {
  color: #ffffff;
}
.ui-datatable table thead tr th .ui-column-customfilter .ui-spinner-button.ui-state-active,
.ui-datatable table thead tr th .ui-column-customfilter .ui-spinner-button.ui-state-hover {
  background-color: transparent;
}
.ui-datatable table thead tr th .ui-column-customfilter .ui-spinner-button.ui-state-active .ui-icon-triangle-1-n,
.ui-datatable table thead tr th .ui-column-customfilter .ui-spinner-button.ui-state-active .ui-icon-triangle-1-s {
  background-position: center !important;
  background-size: 80% !important;
  margin-left: 12px !important;
  margin-top: -8px !important;
}
.ui-datatable table tbody tr td {
  color: #546e7a;
  border: solid 1px #d9e3e8;
  font-size: 14px;
  font-family: 'robotoregular';
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ui-datatable table tbody tr td .ui-row-toggler.ui-icon-circle-triangle-s {
  background-image: url("/modena/javax.faces.resource/images/downarrow-gray.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 110%;
}
.ui-datatable table tbody tr td .ui-row-toggler.ui-icon-circle-triangle-e {
  background-image: url("/modena/javax.faces.resource/images/rightarrow-gray.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 110%;
}
.ui-datatable table tbody tr td .ui-row-editor .ui-icon-pencil {
  background-image: url("/modena/javax.faces.resource/images/pen-blue.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 120%;
}
.ui-datatable table tbody tr td .ui-row-editor .ui-icon-check {
  background-image: url("/modena/javax.faces.resource/images/check-blue.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 120%;
}
.ui-datatable table tbody tr td .ui-row-editor .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete-red.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 120%;
}
.ui-datatable table tbody .ui-state-hover td {
  background-color: #c1d5df;
}
.ui-datatable table tbody .ui-state-highlight td {
  background-color: #26a69a;
  color: #ffffff;
}
.ui-datatable table tbody .ui-state-highlight.ui-row-editing td {
  background-color: #dde4ed;
  color: #f1f6f9;
}
.ui-datatable table tbody tr td .ui-icon-arrow-4 {
  background-image: url("/modena/javax.faces.resource/images/movearrow-gray.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 100%;
}
.ui-datatable table thead tr .ui-state-default .ui-icon-carat-2-n-s,
.ui-datatable .ui-datatable-sticky table thead tr .ui-state-default .ui-icon-carat-2-n-s {
  background-image: url("/modena/javax.faces.resource/images/updown-navy-arrow.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 110%;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.ui-datatable table thead tr .ui-state-hover .ui-icon-carat-2-n-s,
.ui-datatable .ui-datatable-sticky table thead tr .ui-state-hover .ui-icon-carat-2-n-s {
  background-image: url("/modena/javax.faces.resource/images/updown-navy-arrow.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 110%;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.ui-datatable table thead tr .ui-state-active .ui-icon-triangle-1-n,
.ui-datatable .ui-datatable-sticky table thead tr .ui-state-active .ui-icon-triangle-1-n {
  background-image: url("/modena/javax.faces.resource/images/uparrow-navy.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 110%;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.ui-datatable table thead tr .ui-state-active .ui-icon-triangle-1-s,
.ui-datatable .ui-datatable-sticky table thead tr .ui-state-active .ui-icon-triangle-1-s {
  background-image: url("/modena/javax.faces.resource/images/downarrow-navy.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 110%;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.ui-datatable-footer {
  background-color: #f5f5f5;
  color: #7a8f98;
  font-family: 'robotoregular';
  font-size: 14px;
  padding: 10px !important;
  border-radius: 1px !important;
}
.ui-datatable-tablewrapper {
  margin: 10px;
}
.ui-editable-column.ui-state-error {
  background-color: #ce2246 !important;
}
@media (max-width: 35em) {
  .ui-datatable-reflow .ui-datatable-data td {
    border: 0px !important;
  }
}
.ui-columntoggler {
  border: solid 1px #d1d3d4;
  background-color: #fbfcfd;
  color: #778d9b;
}
.ui-columntoggler .ui-columntoggler-item .ui-chkbox {
  top: 35% !important;
}
.ui-datatable-scrollable {
  overflow: hidden;
}
.ui-datatable-scrollable-header-box table thead tr th,
.ui-datatable-scrollable-footer-box table tfoot tr td {
  border-width: 1px;
  border-right: solid 1px #c1d5df;
  border-left: solid 1px transparent;
  border-bottom: 0px;
  border-top: 0px;
  font-size: 14px;
  background-color: #d9e3e8;
}
.ui-draggable-dragging {
  color: #27aae1;
  border: solid 1px #cccccc;
}
.ui-draggable-dragging .ui-icon-carat-2-n-s {
  background-image: none;
}
.ui-draggable-dragging .ui-icon-carat-1-n {
  background-image: none;
}
.ui-draggable-dragging .ui-icon-carat-1-s {
  background-image: none;
}
.ui-datatable > .ui-icon-arrowthick-1-s {
  background-image: url("/modena/javax.faces.resource/images/downarrow-blue.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.ui-datatable > .ui-icon-arrowthick-1-n {
  background-image: url("/modena/javax.faces.resource/images/uparrow-blue.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-left: 5px;
}
.ui-datatable .ui-column-resizer-helper {
  background-color: #33AFDE;
}
.ui-datatable-resizable th.ui-state-hover.ui-sortable-column,
.ui-datatable-resizable th {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

/*Style For Ribbon And TabView --------------------------------------------------------------------------------------*/
.ui-tabs .ui-tabs-panel {
  padding: 10px !important;
}
.ui-tabs-top {
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0px !important;
}
.ui-tabs-top .ui-tabs-nav {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  background-color: #eceff1;
  border-bottom: solid 2px #e0e0e0;
}
.ui-tabs-top .ui-tabs-navscroller {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-nav {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn {
  height: 56px;
  padding: 0px 4px;
  background-color: #eceff1;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn:hover {
  background-color: #e0e0e0;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn-left {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 2px;
  left: 0px;
  border-right: solid 1px #e0e0e0;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn-left .ui-icon {
  background-image: url("/modena/javax.faces.resource/images/left-arrow.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 19px;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn-right {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 2px;
  right: 0px;
  border-left: solid 1px #e0e0e0;
}
.ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn-right .ui-icon {
  background-image: url("/modena/javax.faces.resource/images/right-arrow.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 19px;
}
.ui-tabs-top .ui-tabs-navscroller .ui-state-disabled {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ui-tabs-top .ui-tabs-navscroller .ui-state-disabled .ui-icon {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.ui-tabs-top .ui-tabs-nav li {
  border: solid 1px transparent !important;
  top: 1px !important;
  font-size: 14px;
  margin: 0 .2em 1px 0 !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ui-tabs-top .ui-tabs-nav li .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete-soft-blue.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 8px !important;
}
.ui-tabs-top .ui-tabs-nav li.ui-state-hover .ui-icon-close,
.ui-tabs-top .ui-tabs-nav li.ui-state-active .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 8px !important;
}
.ui-tabs-top .ui-tabs-nav li a {
  color: #546e7a !important;
  font-size: 17px;
  padding: 14px 1em !important;
  border-radius: 0px !important;
  font-family: 'robotolight';
}
.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-top .ui-tabs-nav li.ui-tabs-active,
.ui-tabs-top .ui-tabs-nav li.ui-state-hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
  border-radius: 0px;
  border-bottom: solid 3px #0091EA !important;
}
.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-top .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-top .ui-tabs-nav li.ui-state-hover a {
  color: #0091ea !important;
}
.ui-tabs-top .ui-tabs-panels {
  background-color: transparent;
  margin: -1px 0px 3px 0px;
  border: solid 1px #fbfcfd;
  background-image: none !important;
}
.ui-tabs-panels {
  font-size: 15px;
}
.ui-tabs-top .ui-tabs-panels .ui-ribbon-groups {
  background-color: transparent;
  background: none;
  filter: none !important;
}
.ui-tabs-top .ui-tabs-panels .ui-tabs-panel {
  background-image: none !important;
  color: #546e7a;
}
.ui-tabs-top .ui-ribbon-group {
  border-right: solid 1px #C8D9E2;
  background-image: none !important;
  background-color: transparent !important;
  filter: none !important;
}
.ui-ribbon .ui-ribbon-group .ui-ribbon-group-content {
  display: table;
  height: auto !important;
  margin-bottom: 10px;
}
.ui-ribbon .ui-ribbon-group .ui-ribbon-group-label {
  color: #546E7A !important;
}
.ui-ribbon .ui-button {
  width: auto !important;
  height: auto !important;
  font-size: 12px;
  border: solid 1px transparent;
}
.ui-ribbon .ui-selectmanybutton {
  padding: 0px;
}
.ui-ribbon .ui-inputfield {
  background-color: #F5F5F5 !important;
}
.ui-ribbon .ui-selectonemenu {
  border-radius: 0px !important;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
}
.ui-ribbon .ui-button .ui-button-text {
  font-size: 14px !important;
}
.ui-ribbon .ui-selectonemenu-label {
  font-size: 14px !important;
}
.ui-ribbon .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
  margin-top: 12px !important;
}
.ui-ribbon-bigbutton .ui-icon,
.ui-ribbon-group .ui-icon {
  height: 16px !important;
  width: 16px !important;
  margin: -6px 0px 0px 0px !important;
  left: 15% !important;
  font-size: 13px !important;
  color: #fff;
}
.ui-colorpicker .ui-c span {
  border: solid 1px #fff !important;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.ui-ribbon .ui-ribbon-group-content .ui-button {
  background-color: #0288d1;
  color: #FFFFFF;
}
.ui-ribbon .ui-ribbon-group-content .ui-button.ui-state-hover {
  background-color: #29A1EC;
}
.ui-ribbon .ui-ribbon-group-content .ui-button.ui-state-active {
  background-color: #29A1EC;
}
/* left */
.ui-tabs-left {
  border: solid 1px #c6d6df;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0px !important;
}
.ui-tabs-left .ui-tabs-nav {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #eceff1;
  border-right: solid 2px #e0e0e0;
}
.ui-tabs-left .ui-tabs-nav li {
  border: solid 1px transparent !important;
  top: 1px !important;
  font-size: 14px;
  margin-right: -1px !important;
}
.ui-tabs-left .ui-tabs-nav li a {
  color: #546e7a !important;
  width: auto !important;
  font-size: 17px;
  padding: 14px 12px !important;
  font-family: 'robotolight';
}
.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-left .ui-tabs-nav li.ui-tabs-active,
.ui-tabs-left .ui-tabs-nav li.ui-state-hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
  border-radius: 0px;
  border-right: solid 3px #0091EA !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ui-tabs-left .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-left .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-left .ui-tabs-nav li.ui-state-hover a {
  color: #0091ea !important;
  padding: 14px 14px !important;
}
.ui-tabs-left .ui-tabs-nav li .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete-soft-blue.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 7px !important;
  float: right !important;
}
.ui-tabs-left .ui-tabs-nav li.ui-state-hover .ui-icon-close,
.ui-tabs-left .ui-tabs-nav li.ui-state-active .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 7px !important;
  float: right !important;
}
/* right */
.ui-tabs-right {
  border: solid 1px #c6d6df;
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0px !important;
}
.ui-tabs-right .ui-tabs-nav {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #eceff1;
  border-left: solid 1px #e0e0e0;
}
.ui-tabs-right .ui-tabs-nav li {
  border: solid 1px transparent !important;
  top: 1px !important;
  font-size: 14px;
  margin-right: -1px !important;
}
.ui-tabs-right .ui-tabs-nav li a {
  color: #546e7a !important;
  width: auto !important;
  font-size: 17px;
  padding: 14px 16px !important;
  font-family: 'robotolight';
}
.ui-tabs-right .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-right .ui-tabs-nav li.ui-tabs-active,
.ui-tabs-right .ui-tabs-nav li.ui-state-hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
  border-radius: 0px;
  border-left: solid 3px #0091EA !important;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ui-tabs-right .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-right .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-right .ui-tabs-nav li.ui-state-hover a {
  color: #0091ea !important;
  padding: 14px 14px !important;
}
.ui-tabs-right .ui-tabs-nav li .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete-soft-blue.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  float: right !important;
}
.ui-tabs-right .ui-tabs-nav li.ui-state-hover .ui-icon-close,
.ui-tabs-right .ui-tabs-nav li.ui-state-active .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  float: right !important;
}
/* bottom */
.ui-tabs-bottom {
  border: solid 1px #e0e0e0;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0px !important;
}
.ui-tabs-bottom .ui-tabs-nav {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-weight: normal;
  background-color: #eceff1;
  font-family: 'robotolight';
  border-top: solid 1px #e0e0e0;
}
.ui-tabs-bottom .ui-tabs-navscroller {
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-nav {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  padding-bottom: 1px;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn {
  height: 56px;
  border-top: 1px solid #E0E0E0;
  padding: 0px 4px;
  background-color: #eceff1;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn:hover {
  background-color: #e0e0e0;
}
@media screen and (min-width: 0\0) {
  .ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn {
    height: 57px;
  }
  .ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-nav {
    line-height: 1.3 !important;
  }
  .ui-tabs-top .ui-tabs-navscroller .ui-tabs-nav {
    line-height: 1.3 !important;
  }
}
@-moz-document url-prefix() {
  /* Firefox specific styles go here */
  .ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn {
    height: 57px;
  }
  .ui-tabs-top .ui-tabs-navscroller .ui-tabs-navscroller-btn {
    height: 56px;
  }
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn-left {
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 2px;
  left: 0px;
  border-right: solid 1px #e0e0e0;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn-left .ui-icon {
  background-image: url("/modena/javax.faces.resource/images/left-arrow.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 22px;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn-right {
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  right: 0px;
  border-left: solid 1px #e0e0e0;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-tabs-navscroller-btn-right .ui-icon {
  background-image: url("/modena/javax.faces.resource/images/right-arrow.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 22px;
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-state-disabled {
  opacity: 1;
  filter: alpha(opacity=100);
}
.ui-tabs-bottom .ui-tabs-navscroller .ui-state-disabled .ui-icon {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.ui-tabs-bottom .ui-tabs-nav li {
  border: solid 1px transparent !important;
  font-size: 14px;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.ui-tabs-bottom .ui-tabs-nav li .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete-soft-blue.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px !important;
}
.ui-tabs-bottom .ui-tabs-nav li.ui-state-hover .ui-icon-close,
.ui-tabs-bottom .ui-tabs-nav li.ui-state-active .ui-icon-close {
  background-image: url("/modena/javax.faces.resource/images/delete.svg.xhtml?ln=primefaces-modena");
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 10px !important;
}
.ui-tabs-bottom .ui-tabs-nav li a {
  color: #546e7a !important;
  font-size: 17px;
  padding: 16px 1em 16px !important;
}
.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-selected,
.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-active,
.ui-tabs-bottom .ui-tabs-nav li.ui-state-hover {
  background-color: transparent !important;
  border: solid 1px transparent !important;
  border-radius: 0px;
  border-top: solid 3px #0091EA !important;
}
.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs-bottom .ui-tabs-nav li.ui-tabs-active a,
.ui-tabs-bottom .ui-tabs-nav li.ui-state-hover a {
  color: #0091ea !important;
  padding: 14px 1em 14px !important;
}
.ui-tabs-bottom .ui-tabs-panels .ui-tabs-panel {
  background-image: none !important;
  color: #546e7a;
}
.ui-tabs-scrollable {
  /* max-width:630px; */
}
.ui-tabs .ui-tabs-nav {
  font-weight: normal !important;
}
/*Style For UI Dasboard------------------------------------------------------------------------------------- */
.ui-dashboard {
  border: solid 1px #c6d6df;
  background-color: #fbfcfd;
  display: table;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.ui-dashboard-column {
  margin: 2px;
  min-width: 20px;
  padding-bottom: 20px !important;
}
.ui-dashboard-column .ui-panel {
  margin-bottom: 2px;
}
.ui-dashboard-column .ui-state-hover {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: dashed 1px #27aae1;
  background-color: #dae8ef;
}